<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${main.name}"></title>
<meta name="description"
	content="Card Expansion Effect with SVG clipPath" />
<meta name="keywords"
	content="clipPath, svg, effect, layout, expansion, images, grid, polygon" />
<meta name="author" content="Claudio Calautti for Codrops" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" href="../css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/css/tabstyles.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" type="text/css" href="/css/share.css" />
<link rel="stylesheet" type="text/css" href="/css/dialog.css" />
<!-- individual effect -->
<link rel="stylesheet" type="text/css" href="/css/dialog-sandra.css" />
<link rel="stylesheet" type="text/css" href="/css/cs-select.css" />
<link rel="stylesheet" type="text/css" href="/css/cs-skin-slide.css" />
<link th:if="${main.name!='Support' and main.name!='Adc' and main.name!='Jungler' and main.name!='Mid' and main.name!='Top'}" rel="shortcut icon" th:href="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/champion/} + ${main.champion.image}" />


<link th:if="${main.name=='Support'}" rel="shortcut icon"
	href="/img/support.jpg" />
<link th:if="${main.name=='Top'}" rel="shortcut icon"
	href="/img/top.jpg" />
<link th:if="${main.name=='Mid'}" rel="shortcut icon"
	href="/img/mid.jpg" />
<link th:if="${main.name=='Adc'}" rel="shortcut icon"
	href="/img/adc.jpg" />
<link th:if="${main.name=='Jungler'}" rel="shortcut icon"
	href="/img/jungle.jpg" />


<!--[if IE]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<script>
	if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
		var root = document.getElementsByTagName('html')[0];
		root.setAttribute('class', 'ff');
	};
</script>
</head>
<body class="demo-1">
	<div class="container">
		<img class=" parallax" th:src="${main.banner}"></img>
		<div th:include="fragments/header::head"></div>
		<div class="details"></div>
		<div id="data" type="hidden" th:text="${topics_data}"></div>
		<div id="edata" type="hidden" th:text="${extraData}"></div>
		<div class="moredata">
			<table class="main_details">
				<tr>
					<td>
						<!-- <p th:text="${tier}" style="display: inline-block;"></p>
					 --> <img style="display: inline-block;"
						th:src="@{/img/tiers/}+${tier} + @{.png}" class='list_img tier'></img>

						<div class="line"></div>
						<p>Average Tier</p>
					</td>
					<td>
						<p th:text="${winrate}"></p>
						<div class="line"></div>
						<p>Average Winrate</p>
					</td>
					<td>
						<p class="round" th:text="${members}"></p>
						<div class="line"></div>
						<p>Members</p>
					</td>
					<td>
						<p th:text="${kills}+@{/}+${deaths}+@{/}+${assists}"></p>
						<div class="line"></div>
						<p>Average KDA</p>
					</td>
					<td>
						<p th:text="${games}"></p>
						<div class="line"></div>
						<p>Average Games</p>
					</td>
				</tr>
			</table>


		</div>
		<div class="content_dis">
			<!-- trianglify pattern container -->

			<section>
				<div class="tabs tabs-style-linemove">
					<nav>
						<ul>
							<li class="hide_sect left_sect"><a
								href="#section-linemove-1"><i class="fa fa-comment"
									aria-hidden="true"></i><span>Discussion</span></a></li>
							<!-- 	<li class="hide_sect left_sect"><a
								href="#section-linemove-2"><i
									class="fa fa-play" aria-hidden="true"></i><span>Videos</span></a></li> -->
							<!-- 	<li class="hide_sect left_sect"><a
								href="#section-linemove-3 "><i class="fa fa-lightbulb-o"
									aria-hidden="true"></i><span>Best of</span></a></li> -->
							<div th:switch="${main.name}">
								<li th:case="'Support'" class="hide_sect img_sect"><img
									src="/img/support.jpg" class='profile '></img></li>
								<li th:case="'Top'" class="hide_sect img_sect"><img
									src="/img/top.jpg" class='profile '></img></li>
								<li th:case="'Mid'" class="hide_sect img_sect"><img
									src="/img/mid.jpg" class='profile '></img></li>
								<li th:case="'Adc'" class="hide_sect img_sect"><img
									src="/img/adc.jpg" class='profile '></img></li>
								<li th:case="'Jungle'" class="hide_sect img_sect"><img
									src="/img/jungle.png" class='profile '></img></li>
								<li th:case="*" class="hide_sect img_sect"><img
									th:src="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/champion/} + ${main.champion.image}"
									class='profile '></img></li>
							</div>
							<li class="hide_sect right_sect"><a
								href="#section-linemove-5 "><i class="fa fa-user"
									aria-hidden="true"></i><span>Members</span></a></li>
							<!-- 	<li class="hide_sect right_sect"><a
								href="#section-linemove-5 "><i class="fa fa-list"
									aria-hidden="true"></i><span>Guides</span></a></li> -->
							<!-- 	<li class="hide_sect right_sect"><a
								href="#section-linemove-6 "><i class="fa fa-cog"
									aria-hidden="true"></i><span>Settings</span></a></li> -->
						</ul>
					</nav>

					<div style="display: none" id="main_id" th:text="${main.id}"></div>
					<div style="display: none" id="champion" th:text="${champion}"></div>
					<div style="display: none" id="main_name" th:text="${main.name}"></div>
					<div style="display: none" id="user_id" th:text="1"></div>
					<div class="content-wrap">
						<section id="section-linemove-1">
							<section class="select_main"></section>
							<ul id="content">
								<!--   -->
								<li class="col-md-10 col-md-offset-2"><select
									class="discussion_type ">
										<option value="All">All<i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i></option>
										<option value="Build"><i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>Build
										</option>
										<option value="2"><i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>Item
											Compare
										</option>
										<option value="3"><i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>Item
										</option>
										<option value="4"><i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>Champion
										</option>
										<option value="5"><i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>Video
										</option>
										<option value="6"><i
												class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>PatchNotes
										</option>
								</select></li>

								<li style="text-align: left;">
									<div class="row" th:each="topic : ${topics}">
										<div class="col-md-11 col-md-offset-1">



											<!-- <i class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i> -->
											<table th:class="@{card_horizontal}+' color_'+ ${topic.type}">
												<tr>
													<td style='width: 100px;'><img
														th:id="${topic.user.id}"
														th:src="@{http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/}+${topic.user.summoner.image} + @{.png}"
														th:class="'profile_icon  tooltip_guide profile td_img_'+ ${topic.type}"></img>

													</td>


													<td>
														<div class="">
															<div class="topic_main_content">
																<a th:href="@{/topic/} + ${topic.id}"
																	th:text="${topic.header}"></a>
															</div>
															<div class="extra">






																<div class="controls">
																	<i style="float: left; margin-top: 13px;"
																		class="fa fa-comments" aria-hidden="true"></i>
																	<p style="" th:id="@{replies_} + ${topic.id}"></p>
																	<i style="float: left; margin-top: 13px;"
																		class="fa  fa-clock-o" aria-hidden="true"></i>



																	<p style="" th:id="@{time_} + ${topic.id}"></p>


																</div>
															</div>
														</div>
													</td>
													<td th:class="@{left_td}+' td_color'+ ${topic.type}">
														<div th:if="${topic.type ==1}"
															><i
											class="fa fa-commenting fa-3x icons" aria-hidden="true"></i></div>
														<div th:if="${topic.type ==2}">
															<table style="margin-top: 10px; margin-bottom: 0px;">



																<td><img
																	th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																	th:id="${topic.item1id.itemId}"
																	th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item1id.itemId} + @{.png}"></img>
																</td>
																<td><img alt=""
																	th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																	th:id="${topic.item2id.itemId}"
																	th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item2id.itemId} + @{.png}"></img>
																</td>
																<td><img alt=""
																	th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																	th:id="${topic.item3id.itemId}"
																	th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item3id.itemId} + @{.png}"></img>
																</td>
																<tr></tr>

																<td><img alt=""
																	th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																	th:id="${topic.item4id.itemId}"
																	th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item4id.itemId} + @{.png}"></img>
																</td>
																<td><img alt=""
																	th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																	th:id="${topic.item5id.itemId}"
																	th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item5id.itemId} + @{.png}"></img>
																</td>
																<td><img alt=""
																	th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																	th:id="${topic.item6id.itemId}"
																	th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item6id.itemId} + @{.png}"></img>
																</td>

															</table>

														</div>
														<div th:if="${topic.type ==3}">
															<table>

																<tr>

																	<td><img alt=""
																		th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																		style="top: 0px;" th:id="${topic.itemvs0.itemId}"
																		th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.itemvs0.itemId} + @{.png}"></img>
																	</td>
																	<td>
																		<p>VS</p>
																	</td>
																	<td><img alt=""
																		th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																		style="top: 0px;" th:id="${topic.itemvs1.itemId}"
																		th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.itemvs1.itemId} + @{.png}"></img>
																	</td>

																</tr>
															</table>

														</div>
														<div th:if="${topic.type ==4}">
															<table>

																<tr>

																	<td><img alt=""
																		th:class="'tooltip_guide item left_td_img td_img_'+ ${topic.type}"
																		th:id="${topic.item.itemId}"
																		th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/}+${topic.item.imageId}"></img>
																	</td>


																</tr>
															</table>

														</div>
														<div th:if="${topic.type ==5}">
															<table>

																<tr>

																	<td><img alt=""
																		th:class="'tooltip_guide champion left_td_img td_img_'+ ${topic.type}"
																		th:id="${topic.matchup.id}"
																		th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/champion/}+${topic.matchup.image}"></img>
																	</td>


																</tr>
															</table>

														</div>
														<div th:if="${topic.type ==6}">
															<table>

																<tr>

																	<td><iframe width="150" height="90px"
																			th:src="@{https://www.youtube.com/embed/}+${topic.video}">
																		</iframe></td>


																</tr>
															</table>

														</div>
														<div th:if="${topic.type ==7}">
															<table>

																<tr>

																	<td><iframe width="150" height="90px"
																			th:src="@{https://www.youtube.com/embed/}+${topic.url}">
																		</iframe></td>


																</tr>
															</table>

														</div>

													</td>
												</tr>
											</table>

										</div>
									</div>

								</li>
								<li th:if="${more ==true}"><a
									style='color: white; !important'
									th:href="@{/discussions/}+${main.name}+@{/2/All}">More </a></li>
								<!-- <li><button onclick="loadMore()">Load More</button></li> -->
							</ul>
							<div class="share" sec:authorize="isAuthenticated()">
								<div th:if="${user.summoner.verified == false}">
									<a style='color: white; !important'   class="share-toggle-button"
										th:href="@{/verify/} + ${user.id}"> Verify Me </a>
								</div>
								<div th:if="${user.summoner.verified == true}">


									<div th:if="${authCount ==1}">
										<form th:action="@{/newmember}" method="post">



											<td><input type="hidden" id="username" name="username"
												th:value="${user.userName}"></input></td>

											<td><input type="hidden" id="mainid" name="mainid"
												th:value="${main.id}"></input></td>

											<button style="color: white !important"   class="share-toggle-button"
												type="submit">Become a member</button>

										</form>
									</div>
								
								</div>
							</div>
						</section>
						<!-- <section id="section-linemove-2">
							<div class="select_videos">
								<select class="cs-select cs-skin-slide">
									<option value="sightseeing">Plays<i
											class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i></option>
									<option value="business"><i
											class="fa fa-comment fa-2x icon_fa" aria-hidden="true"></i>Compilations
									</option>

								</select>
							</div>
							<h1 class="heading">Top video this week</h1>

							<div class="playing_video" th:each="video: ${top_videos}">
								<iframe width="420" height="315"
									th:src="@{https://www.youtube.com/embed/}+${video.url}">
								</iframe>
								<div>
								<div style="height:50px;">
									<img th:id="${video.user.id}"
											th:src="@{http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/}+${video.user.image} + @{.png}"
											class='video_icon  tooltip_guide profile'></img>
									<div id="video_id" th:text="${video.id}" hidden="hidden"></div>
									
									<div class="like_count"><p th:class="@{like_}+${video.id}" th:text="${video.likes}"></p></div>
									<p style="display:none;" th:text="${video.url}" th:id="@{videourl_}+${video.id}"></p>
									<p style="display:none;" th:text="${video.likes}" th:id="@{videolikes_}+${video.id}"></p>
									<button  th:id="@{videoid_}+${video.id}" onclick="sendLike(this.id)">
										<i class="fa fa-thumbs-up" aria-hidden="true"></i>
									</button>
									</div>
									<div style="float:left;">
									<h2  th:text="${video.header}"> </h2>
									<p  th:text="${video.content}"> </p>
									</div>
								</div>
							</div>
							<div class="video_list">
								<ul>
									<li th:each="video: ${videos}">
										<div class="video">
											<iframe width="200" height="150"
												th:src="@{https://www.youtube.com/embed/}+${video.url}">
											</iframe>
											<div>
											<p style="display:none;" th:text="${video.user.image}" th:id="@{videoimg_}+${video.id}"></p>
											<p style="display:none;" th:text="${video.header}" th:id="@{videoheader_}+${video.id}"></p>
												<p style="display:none;" th:text="${video.content}" th:id="@{videocontent_}+${video.id}"></p>
											<p style="display:none;" th:text="${video.url}" th:id="@{videourl_}+${video.id}"></p>
											<p style="display:none;" th:text="${video.likes}" th:id="@{videolikes_}+${video.id}"></p>
											<div style="height:40px;">
											<button th:id="@{videoid_}+${video.id}"  onclick="openVideo(this.id)">
													<i class="fa fa-play" aria-hidden="true"></i>

												</button>	
									<img th:id="${video.user.id}"
											th:src="@{http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/}+${video.user.image} + @{.png}"
											class='video_icon  tooltip_guide profile'></img>
									<i style=" float:right;" class="fa fa-heart" aria-hidden="true"></i><div id="video_id" th:text="${video.id}" hidden="hidden"></div>									
									<div class="like_count"><p th:class="@{like_}+${video.id}" th:text="${video.likes}"></p></div>	
																						
									</div>
									<div style="float:left;">
									<p  th:text="${video.header}"> </p>
								
									</div>
												<p>3 Days Ago</p>
												
											</div>
										</div>
									</li>

								</ul>
							</div>
							<div class="share">
								 <div sec:authorize="isAuthenticated()">
								<button data-dialog="video_dialog" class="share-toggle-button"
									id="video_b">
									<i class="share-icon fa fa-plus"></i>
								</button>
								 </div> 

								<div sec:authorize="isAnonymous()">nah</div>


							</div>
						</section> -->
						<!-- 	<section id="section-linemove-2">


							<div class="best_of_content">

								<div th:if="${main.bestof ==null}">No entries yet</div>
								<div th:if="${main.bestof !=null}">

									<div style="float: left;">
										<h2>Build</h2>
										<table>

											<tr>

												<td><img
													th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${main.bestof.build.item1id.imageId}"
													class='list_img'></img></td>
												<td><img
													th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${main.bestof.build.item2id.imageId}"
													class='list_img'></img></td>
												<td><img
													th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${main.bestof.build.item3id.imageId}"
													class='list_img'></img></td>
											<tr></tr>

											<td><img
												th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${main.bestof..build.item4id.imageId}"
												class='list_img'></img></td>
											<td><img
												th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${main.bestof.build.item5id.imageId}"
												class='list_img'></img></td>
											<td><img
												th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${main.bestof.build.item6id.imageId}"
												class='list_img'></img></td>
											</tr>

										</table>
										<h2>Summoners</h2>
										<table>
											<tr>

												<td><img
													th:src="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/spell/}+${main.bestof.summoners.summoner1.image}"
													class='list_img'></img></td>

												<td><img
													th:src="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/spell/}+${main.bestof.summoners.summoner2.image}"
													class='list_img'></img></td>
											</tr>
										</table>
										<div class="col-md-5">

											<h2>KeyStone</h2>
											<img th:src="${main.bestof.masteriesid.keystone}"
												class='list_img'></img>
											<h2>Runes</h2>
											<img alt=""
												src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/1001.png"></img>
											<img alt=""
												src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/1001.png"></img>
											<img alt=""
												src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item/1001.png"></img>
										</div>
									</div>


								</div>
								<div th:if="${authCount ==2}">
									<a
										style="position: fixed; left: 93%; top: 90%; color: white !important;"
										class="share-toggle-button" th:href="@{/bestof/} + ${main.id}">
										<i class="share-icon fa fa-plus"></i>
									</a>
								</div>
							</div>
						</section> -->
						<!-- 	<section id="section-linemove-3"></section> -->
						<section id="section-linemove-3">
							<table style="width: 100%;">
								<thead>
									<td>Profile</td>
									<td>Name</td>
									<td>Tier</td>
									<td>Winrate</td>
									<td>Points</td>
									<td colspan="3">KDA</td>
									<td>Games</td>
									<td></td>
								</thead>
								<tr th:each="summoner: ${users}">
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/}+${summoner.image} + @{.png}"
										class='list_img'></img></td>
									<td>
										<p th:text="${summoner.name}"></p>
									</td>
									<td><img
										th:src="@{/img/tiers/}+${summoner.tier} + @{.png}"
										class='list_img tier'></img></td>
									<td>
										<p th:text="${summoner.champion[0].winrate}"></p>
									</td>
									<td>
										<p th:text="${summoner.champion[0].championPoints}"></p>
									</td>
									<td>
										<p th:text="${summoner.champion[0].kills}"></p>
									</td>
									<td>
										<p th:text="${summoner.champion[0].deaths}"></p>
									</td>
									<td>
										<p th:text="${summoner.champion[0].assists}"></p>
									</td>
									<td>
										<p th:text="${summoner.champion[0].games}"></p>
									</td>
									<!-- 	<td><a style="position: relative; left: 0px;"
										th:href="@{/summoner/} + ${summoner.name}"> <i
											class="fa fa-reply" aria-hidden="true"></i> View
									</a></td> -->
								</tr>
								<tr>
									<td colspan='9' style="padding-top: 50px;"><a
										th:href="'/members/' + ${main.name}+'/1'">More details</a></td>
								</tr>
							</table>
						</section>
						<section id="section-linemove-6">
							<table style="width: 100%;">
								<thead>
									<td>Name</td>
									<td>User</td>
									<td>User Tier</td>
									<td>Date</td>
									<td colspan="6">Build</td>
									<td>Keystone</td>
									<td colspan="2">Summoners</td>
									<td></td>
								</thead>
								<tr th:each="guide: ${guides}">

									<td>
										<p th:text="${guide.name}"></p>
									</td>
									<td>
										<p th:text="${guide.user.name}"></p>
									</td>
									<td><img
										th:src="@{/img/tiers/}+${guide.user.tier} + @{.png}"
										class='list_img tier'></img></td>
									<td>
										<p th:text="${guide.date}"></p>
									</td>
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${guide.build.item1id.imageId}"
										class='list_img'></img></td>
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${guide.build.item2id.imageId}"
										class='list_img'></img></td>
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${guide.build.item3id.imageId}"
										class='list_img'></img></td>
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${guide.build.item4id.imageId}"
										class='list_img'></img></td>
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${guide.build.item5id.imageId}"
										class='list_img'></img></td>
									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.1.1/img/item//}+${guide.build.item6id.imageId}"
										class='list_img'></img></td>

									<td><img th:src="${guide.masteriesid.keystone}"
										class='list_img'></img></td>

									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/spell/}+${guide.summoners.summoner1.image}"
										class='list_img'></img></td>

									<td><img
										th:src="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/spell/}+${guide.summoners.summoner2.image}"
										class='list_img'></img></td>

									<td><a style="position: relative; left: 0px;"
										th:href="@{/playstyle/} + ${guide.name}"> <i
											class="fa fa-reply" aria-hidden="true"></i> View
									</a></td>
								</tr>

							</table>
							<a th:href="@{/newguide/}+${main.id}" class=" addnew"> <i
								class="share-icon fa fa-plus"></i>
							</a>
						</section>
						<!-- 	<section id="section-linemove-7">
							<p>6</p>
						</section> -->
					</div>
					<!-- /content -->
				</div>
				<!-- /tabs -->
			</section>

		</div>



		<!-- Related demos -->

	</div>
	<!-- /container -->
	<!-- JS -->


	<script src="/js/classie.js"></script>

	<script src="/js/selectFx.js"></script>

	<script src="/js/jquery-3.1.1.min.js"></script>



	<script src="/js/modernizr.custom.js"></script>
	<script src="/js/cbpFWTabs.js"></script>
	<script src="/js/TweenMax.min.js"></script>
	<script src="/js/share.js"></script>
	<script src="/js/gnmenu.js"></script>
	<script src="/js/dialogFx.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
		<script src="/js/tooltip.js"></script>
	<script src="/js/mainSocket.js"></script>

	<script src="/js/notification.js"></script>
	<!-- <script src="/js/changeCss.js"></script> -->

	<script>
		new gnMenu(document.getElementById('gn-menu'));
	
		(function() {
			
			[].slice.call(document.querySelectorAll('.tabs')).forEach(
					function(el) {
						new CBPFWTabs(el);
					});

		})();
	</script>
</body>

</html>
