<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title th:text="${main.name}"></title>
		<meta name="description" content="A simple grid layout with an initial fullscreen intro" />
		<meta name="keywords" content="fullscreen image, grid layout, flexbox grid, transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet"
	href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/layout-simple.css" />
		<link rel="stylesheet" type="text/css" href="/css/dialog.css" />
		<link th:if="${main.name!='Support' and main.name!='Adc' and main.name!='Jungler' and main.name!='Mid' and main.name!='Top'}" rel="shortcut icon" th:href="@{http://ddragon.leagueoflegends.com/cdn/7.2.1/img/champion/} + ${main.champion.image}" />


<link th:if="${main.name=='Support'}" rel="shortcut icon"
	href="/img/support.jpg" />
<link th:if="${main.name=='Top'}" rel="shortcut icon"
	href="/img/top.jpg" />
<link th:if="${main.name=='Mid'}" rel="shortcut icon"
	href="/img/mid.jpg" />
<link th:if="${main.name=='Adc'}" rel="shortcut icon"
	href="/img/adc.jpg" />
<link th:if="${main.name=='Jungler'}" rel="shortcut icon"
	href="/img/jungle.jpg" />
<!-- individual effect -->
<link rel="stylesheet" type="text/css" href="/css/dialog-sandra.css" />
		<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
		
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
	<div th:include="fragments/header::head"></div>
	
	<div style="display: none" id="message" th:text="${message}"></div>
		<div id="container" class="container">
		
		
			<section class="row items" >
			
			<div class="col-md-1 col-md-offset-2" style='text-align:center'>
				
				<img style="display: inline-block;" th:src="@{/img/tiers/bronze.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${bronze}"></h3>
				
			</div>
			<div class="col-md-1 " style='text-align:center'>
				<img style="display: inline-block;" th:src="@{/img/tiers/silver.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${silver}"></h3>
			</div>
			<div class="col-md-1 " style='text-align:center'>
				<img style="display: inline-block;" th:src="@{/img/tiers/bronze.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${gold}"></h3>
			</div>
			<div class="col-md-1 " style='text-align:center'>
				<img style="display: inline-block;" th:src="@{/img/tiers/gold.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${platinum}"></h3>
			</div>
			<div class="col-md-1 " style='text-align:center'>
				<img style="display: inline-block;" th:src="@{/img/tiers/diamond.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${diamond}"></h3>
			</div>
			<div class="col-md-1 " style='text-align:center'>
				<img style="display: inline-block;" th:src="@{/img/tiers/master.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${masters}"></h3>
			</div>
			<div class="col-md-1 " style='text-align:center'>
				<img style="display: inline-block;" th:src="@{/img/tiers/challenger.png}"
						class='list_img tier'></img>
					<h3 class="item__title" style="margin-top:10px" th:text="${challenger}"></h3>
			</div>
			<div class="col-md-2 " style="height:100px;" >
			</div>
				<div th:include="fragments/lists::members"></div>
			</section>
			
				
			<div class="message"></div>
		</div><!-- /container -->
		<script src="/js/classie.js"></script>
		
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/gnmenu.js"></script>
			<script src="/js/modernizr.custom.js"></script>
		<script src="/js/dialogFx.js"></script>
			 <script src="/js/tooltip.js"></script>
			<script src="/js/notification.js"></script>
		<script>
			
				console.log($("#message").text());
				if($("#message").text()=="verified")			
					{
					$(".message").append("<p>Your accoutn has been verified!</p>");
					$(".message").fadeIn();
					setTimeout(function(){ $(".message").fadeOut(); }, 3000);
					}
				else if($("#message").text()=="loginSuccess")			
				{
				$(".message").append("<p>Welcome!</p>");
				$(".message").fadeIn();
				setTimeout(function(){ $(".message").fadeOut(); }, 3000);
				}
				else if($("#message").text()=="registerSuccess")			
				{
				$(".message").append("<p>Welcome!</p>");
				$(".message").fadeIn();
				setTimeout(function(){ $(".message").fadeOut(); }, 3000);
				}
				if ($('#auth').text() == "true") {

//					var logintrigger = document.getElementById("video_b"), logindialog = document
//					.getElementById("video_dialog
//					"), logindlg = new DialogFx(
//					logindialog);
//					logintrigger.addEventListener('click', logindlg.toggle.bind(logindlg));
				} else {



					var logintrigger = document.getElementById("login_b"), logindialog = document
							.getElementById("login_dialog"), logindlg = new DialogFx(
							logindialog);

					logintrigger.addEventListener('click', logindlg.toggle.bind(logindlg));

					var registertrigger = document.getElementById("register_b"), registerdialog = document
							.getElementById("register_dialog"), registerdlg = new DialogFx(
							registerdialog);

					registertrigger.addEventListener('click', registerdlg.toggle
							.bind(registerdlg));

				}
		
		
		</script>
	</body>
</html>
