<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title >LolMains</title>
		<meta name="description" content="A simple grid layout with an initial fullscreen intro" />
		<meta name="keywords" content="fullscreen image, grid layout, flexbox grid, transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet"
	href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/layout-simple.css" />
		<link rel="stylesheet" type="text/css" href="/css/dialog.css" />
	<link rel="shortcut icon" href="/img/favicon-16x16.png" />

<!-- individual effect -->
<link rel="stylesheet" type="text/css" href="/css/dialog-sandra.css" />
		<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
		

	</head>
	<body>
	<div th:include="fragments/header::user"></div>
	

		<div id="container" class="container">
		
				<ul id="content" class="content_pag">
								<!--   -->

								<li style="text-align: left;">

									<div class="col-md-10 col-md-offset-2 " style="    margin-top: 50px;">
<h1 >Notifications</h1>


										<div class="row items_row "	th:each="notification : ${notifications}">
								

									<img th:id="${notification.fromuser.id}"
										th:src="@{http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/}+${notification.fromuser.image} + @{.png}"
									class="profile_notification  tooltip_guide profile "></img>
									<p th:text="${notification.content}"></p>

								</div>
								</div>
								</li>
								</ul>
			
			<section class="row  content_pag" style="text-align: center; top:200px;">
			
			
			</section>
				<div th:include="fragments/pagination::notifications"></div>
			<div class="message"></div>
		</div><!-- /container -->
		<script src="/js/classie.js"></script>
		
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/gnmenu.js"></script>
			<script src="/js/modernizr.custom.js"></script>
		<script src="/js/dialogFx.js"></script>
		<script>
			
				console.log($("#message").text());
				if($("#message").text()=="verified")			
					{
					$(".message").append("<p>Your accoutn has been verified!</p>");
					$(".message").fadeIn();
					setTimeout(function(){ $(".message").fadeOut(); }, 3000);
					}
				else if($("#message").text()=="loginSuccess")			
				{
				$(".message").append("<p>Welcome!</p>");
				$(".message").fadeIn();
				setTimeout(function(){ $(".message").fadeOut(); }, 3000);
				}
				else if($("#message").text()=="registerSuccess")			
				{
				$(".message").append("<p>Welcome!</p>");
				$(".message").fadeIn();
				setTimeout(function(){ $(".message").fadeOut(); }, 3000);
				}
				if ($('#auth').text() == "true") {

//					var logintrigger = document.getElementById("video_b"), logindialog = document
//					.getElementById("video_dialog
//					"), logindlg = new DialogFx(
//					logindialog);
//					logintrigger.addEventListener('click', logindlg.toggle.bind(logindlg));
				} else {



					var logintrigger = document.getElementById("login_b"), logindialog = document
							.getElementById("login_dialog"), logindlg = new DialogFx(
							logindialog);

					logintrigger.addEventListener('click', logindlg.toggle.bind(logindlg));

					var registertrigger = document.getElementById("register_b"), registerdialog = document
							.getElementById("register_dialog"), registerdlg = new DialogFx(
							registerdialog);

					registertrigger.addEventListener('click', registerdlg.toggle
							.bind(registerdlg));

				}
		
		
		</script>
	</body>
</html>
